<style type="text/css">

small{
  
}
.wrapper {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.typing-demo {
  width: 28ch;
  animation: typing 2s steps(50), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5em;
  ;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

header {
    background: #b9bbbd;
    padding: 20px 0;
}

.logo {
    text-align: center;
    padding:40px 0;

}


  body {
     background: url("bacckground.png");

}


.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
button {
    margin: 0 0 500px 1px ;
  }

input{
    margin: 0 0 50px 800px;
    padding: 10px 25px;
    margin-left: 41%;
    margin-bottom: 1%;
    margin-top: 1%;
 

}
.custom-btn {
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
    }


  
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
}
.btn-5:before,
.btn-5:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #23a63f;
      box-shadow:
       -1px -1px 5px 0px #fff,
       7px 7px 20px 0px #0003,
       4px 4px 5px 0px #0002;
      transition:400ms ease all;
    }
    .btn-5:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
      width:100%;
      transition:800ms ease all;
}



.logofooter{
   
  font-size:18px;
  margin: 29px 0 0;
   width:5%;
    
}

 .copyrigth{
      color: #ffffff;
      font-size:18px;
      margin: 29px 0 0;
      text-align: center;
}

 footer {
      text-align: center;
    background: url("bg.jpg");
    padding:40px 0;
  
 } 


@media screen and (max-width: 480px){
  .logofooter , .logo{

     width:auto;
  }
  
header {
    background: #b9bbbd;
    width:400px;
    
}

footer{
   width:400px;
}

.typing-demo{
   font-size: 2em;
}
 input{
    margin: 0 0 50px 800px;
    padding: 10px 25px;
    margin-left: 27%;
    margin-bottom: 3%;
    margin-top: 35%;
 }
 .btn-5{
    height: 100px;
    line-height: 42px;   
    border: none;
    margin: 32%  0px  5% 40%;


</style>